@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');
:root {
    --cor-primaria:#393E46;
    --cor-secundaria:#F7F7F7;
    --cor-terciaria:#F2E7D5;
    --cor-hover:#6D9886;

    --font-primaria:'Sarala', sans-serif;
    --font-secundaria:'Righteous', cursive;

}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
    
}
.cabecalho__menu__link {
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5% 15%;
    
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font-secundaria);
}
.destaque-titulo {
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: var(--font-primaria);
}
.apresentacao__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__btn__titulo{
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__btn__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-weight: 600;
    font-size: 24px;
    padding: 21.5px 0 ;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Sarala', sans-serif;
}
.apresentacao__btn__link:hover {
    background-color: var(--cor-hover);
    transition: 1s;

}
.img {
    width: 550px;
    height: 600px;
    border-radius: 20px;
}
.img--icon {
    opacity: 50%;
}
.rodape {
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-family: var(--font-primaria);
    font-size: 20px;
    font-weight: 400;
}
